
.logo-nav {
    height:40px;
}

.navbar navbar-expand-lg navbar-dark purple lighten-1{
    background-color: #e0e0e0;
}

.navbar-brand{
   
    text-decoration-color: blue;
    text-decoration: blue;
    text-decoration-style: bold;
    min-height: auto;
    background-color: transparent;
    text-align: left;
}
.logo-holder{
    text-align: left;
}
.navbar-nav  .nav-flex-icons
{
    size: 250px;
}
.nav-item {
    size: 250px;
}